extends html, ruby

snippet % "erb tag" !w
<% ${1} %>
${2}
endsnippet

snippet '=' "erb assign tag" !wr
<%= ${1} %>
endsnippet

snippet 'e' "erb end tag" !wr
<% end %>
endsnippet

snippet 'end' "erb end tag" !wr
<% end %>
endsnippet
