

snippet m "private method" !b
private function ${1}(${2})
{
${3}
}
endsnippet

snippet pm "public method" !b
public function ${1}(${2})
{
${3}
}
endsnippet

snippet t "$this->" !w
$this->${1}
endsnippet
