snippet '\.i' "inspect object" !wr
.inspect${1}
endsnippet

snippet bp "Breakpoint" !b
debugger; nil
endsnippet

snippet bpr "Breakpoint" !b
require "ruby-debug"; debugger; nil
endsnippet

snippet '#' "variable expansion" !wr
#{ ${1} }
endsnippet


snippet dir "Current directory" !w
DIR = File.expand_path(File.dirname(__FILE__))
endsnippet

snippet it "it block" !b
it "${1}" do
  ${2}
end
endsnippet
