# .hbs snippet

# Includes html.snippets

snippet {
	{${1}}
snippet {{
	{{${1}}}
snippet {{{
	{{{${1}}}}
snippet script
	<script type="text/javascript">${1}</script>
snippet t
	{{ t ${1} }}
snippet i
	{{ i18n ${1} }}
