# #!/usr/bin/env ruby

snippet bp
	debugger
snippet #!
	#!/usr/bin/env coffee
snippet err
	throw err if err
snippet rerr
	return cb err if err
snippet req
	require "${1}"${2}
snippet #
	#{ ${1} }
snippet l
	console.log ${1}
snippet _
	_  = require 'underscore'
snippet _s
	_  = require 'underscore'
	_.mixin require 'underscore.string'
